# Copiez ce fichier en ".env" et remplissez avec vos vraies valeurs
# Ne jamais commiter le fichier ".env" dans un dépôt Git

PGHOST=localhost
PGPORT=5432
PGDATABASE=vpiclist
PGUSER=postgres
PGPASSWORD=votre_mot_de_passe_postgres

PORT=3000
